@model SolutionSelling.Models.Cart
@using Microsoft.AspNetCore.Identity
@using SolutionSelling.Areas.Identity.Data
@inject UserManager<SolutionSellingUser> UserManager
@inject CartService cartService

@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>

<!-- CHECK IF THE CART CONTAINS ITEMS -->

@if (Model.CartItems.Count > 0)
{
    <div class="row justify-content-center">
        <table class="table w-auto align-content-center">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle fw-bold">@Html.DisplayNameFor(model => model.CartItems![0].Item.Name)</th>
                    <th class="text-center align-middle fw-bold"></th>
                    <th class="text-center align-middle fw-bold">@Html.DisplayNameFor(model => model.CartItems![0].Quantity)</th>
                    <th class="text-center align-middle fw-bold">@Html.DisplayNameFor(model => model.CartItems![0].Item.Price)</th>
                    <th class="text-center align-middle fw-bold">@Html.DisplayNameFor(model => model.CartItems![0].Cost)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- LOOP THROUGH THE CART ITEMS  -->
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td class="align-middle fw-bold">@Html.DisplayFor(modelItem => item.Item.Name)</td>
                        <td class="align-middle w-125">
                            <img class="ItemsForSaleImg" src="data:@item.Item.PictureFormat;base64,@item.Item.Picture" /></td>
                        <td class="text-center align-middle fw-bold">@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td class="text-center align-middle fw-bold">@Html.DisplayFor(modelItem => item.Item.Price)</td>
                        <td class="text-center align-middle fw-bold">@Html.DisplayFor(modelItem => item.Cost)</td>
                        <td class="align-middle">
                            <a class="btn btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Item.Id">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="align-middle fw-bold">Total Cost:</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center align-middle fw-bold">@Html.DisplayFor(model => model.TotalCost)</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Items" asp-action="ItemsForSale">Keep Shopping</a>
        <a class="btn btn-success" asp-controller="Cart" asp-action="Purchase">Purchase</a>
    </div>
    <div>
        <!-- DISPLAY ERROR MESSAGE IF THERE IS ONE -->
        @if (ViewBag.Error != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Error");
                };
            </script>
        }
    </div>


}

// IF THE CART IS EMPTY, REDIRECT TO THE HOMEPAGE
else
{
    <p>Redirecting to Homepage</p>

    <script type="text/javascript">
        window.location.href = '/Items/ItemsForSale';
    </script>
}






