@model SolutionSelling.Models.AccountItemsModel
@using Microsoft.AspNetCore.Identity
@using SolutionSelling.Areas.Identity.Data
@inject UserManager<SolutionSellingUser> UserManager

@{
    ViewData["Title"] = "User Panel";
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;
    var userName = user?.FirstName;
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">Your Items For Sale</h1>
</div>
<!-- IF USER HAS ITEMS FOR SALE, DISPLAY THEM HERE  -->
@if (Model.Items.Any(item => item.UserId == userId))
{


    <div class="row justify-content-center">
        <table class="table w-auto align-content-center">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- LOOP THROUGH ITEMS AND RETREIVE USER ITEMS FOR A TABLE  -->
                @foreach (var item in Model.Items)
                {
                    if (userId == item.UserId)
                    {
                        <tr>
                            <td class="align-middle fw-bold">
                                @item.Name
                            </td>
                            <td class="align-middle w-125">
                                <img class="ItemsForSaleImg" src="data:@item.PictureFormat;base64,@item.Picture" />
                            </td>
                            <td class="text-center align-middle">
                                <b>$@item.Price</b>
                            </td>
                            <td class="text-center align-middle">
                                <b>@item.Quantity</b>
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
<div class="text-center">
    <a asp-area="" asp-controller="Items" asp-action="CreateItem" class="btn btn-success text-center">Add New Item</a>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- IF THE USER HAS ANY PURCHASES, DISPLAY THEM HERE  -->
@if (Model.Purchase.Any(purchases => purchases.BuyerId == userId))
{
    <div class="text-center">
        <h1 class="display-4 fw-bold fs-200">Your Purchases</h1>
    </div>

    <div class="row justify-content-center">
        <table class="table w-auto align-content-center">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Date Of Purchase</th>
                </tr>
            </thead>
            <tbody>
                <!-- LOOP THROUGH THE USERS PURCHASES  -->
                @foreach (var purchase in Model.Purchase)
                {
                    if (userId == purchase.BuyerId)
                    {
                        <tr>
                            <td class="align-middle fw-bold">
                                <b>@purchase.Name</b>
                            </td>
                            <td class="align-middle w-125">
                                <img class="ItemsForSaleImg" src="data:@purchase.PictureFormat;base64,@purchase.Picture" />
                            </td>
                            <td class="text-center align-middle">
                                <b>@purchase.Quantity</b>
                            </td>
                            <td class="text-center align-middle">
                                <b>$@purchase.Cost</b>
                            </td>
                            <td class="text-center align-middle">
                                <b>@purchase.PurchaseDate</b>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

<!-- IF THE USER SOLD ANY ITEMS, DISPLAY THE ORDERS HERE  -->
@if (Model.Purchase.Any(purchases => purchases.SellerId == userId))
{
    <div class="text-center">
        <h1 class="display-4 fw-bold fs-200">Your Sales</h1>
    </div>

    <div class="row justify-content-center">
        <table class="table w-auto align-content-center">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Date Of Sale</th>
                </tr>
            </thead>
            <tbody>
                <!-- LOOP THROUGH THE USERS PURCHASES  -->
                @foreach (var purchase in Model.Purchase)
                {
                    if (userId == purchase.SellerId)
                    {
                        <tr>
                            <td class="align-middle fw-bold">
                                <b>@purchase.Name</b>
                            </td>
                            <td class="align-middle w-125">
                                <img class="ItemsForSaleImg" src="data:@purchase.PictureFormat;base64,@purchase.Picture" />
                            </td>
                            <td class="text-center align-middle">
                                <b>@purchase.Quantity</b>
                            </td>
                            <td class="text-center align-middle">
                                <b>$@purchase.Cost</b>
                            </td>
                            <td class="text-center align-middle">
                                <b>@purchase.PurchaseDate</b>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

<!-- IF THE USER HAS SOLD AN ITEM, DISPLAY THE TOP BUYERS HERE  -->
@if (Model.TopBuyers.Any())
{
    <div class="text-center">
        <h1 class="display-4 fw-bold fs-200">Top Buyers</h1>
    </div>

    <div class="row justify-content-center">
        <table class="table w-auto align-content-center">
            <thead class="table-dark">
                <tr>
                    <th>Buyer ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Total Spent</th>
                </tr>
            </thead>
            <tbody>
                <!-- LOOP THROUGH TOP BUYERS  -->
                @foreach (var buyer in Model.TopBuyers)
                {
                    var BuyerName = await UserManager.FindByIdAsync(buyer.BuyerId);
                    <tr>
                        <td class="align-middle fw-bold">
                            @BuyerName?.Id
                        </td>
                        <td class="text-center align-middle fw-bold">
                            @BuyerName?.FirstName @BuyerName?.LastName
                        </td>
                        <td class="text-center align-middle">
                            <b>$@buyer.TotalSpent</b>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}