@model List<SolutionSelling.Models.Item>
@using Microsoft.AspNetCore.Identity
@using SolutionSelling.Areas.Identity.Data
@inject UserManager<SolutionSellingUser> UserManager

@{
    ViewData["Title"] = "User Items";
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


<div class="row justify-content-center">
    <table class="table w-auto align-content-center">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (userId == item.UserId)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="text-center">@item.Price</td>
                        <td class="text-center">@item.Quantity</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
