@model List<SolutionSelling.Models.Item>
@using Microsoft.AspNetCore.Identity
@using SolutionSelling.Areas.Identity.Data
@inject UserManager<SolutionSellingUser> UserManager

@{
    ViewData["Title"] = "Items For Sale";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @if (@User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit/Delete(Admin)</a>
                        
                    }
                </td>
            </tr>
        }
<table/>
